@media screen and (max-width: 1100px) {
  .subject_form .uppper_section {
    padding: 45px 5px;
  }
  .subject_form .uppper_section .main_upper {
    width: 100%;
  }
  .subject_form .main_form {
    width: 90%;
  }
}
@media screen and (max-width: 550px) {
  .subject_form .uppper_section .main_upper .up_column:nth-child(1):after,
  .up_column:nth-child(2):after {
    display: none;
  }
  .subject_form .uppper_section .main_upper .up_column .up_icon {
    width: 45px;
    height: 45px;
  }
  .subject_form .uppper_section .main_upper .up_column h3 {
    font-size: 12px;
  }
  .subject_form .main_form .up_pro_pic label,
  button.cp {
    width: 45%;
    font-size: 12px;
  }
  .subject_form .main_form .up_pro_pic {
    width: 95%;
  }
}
@media screen and (max-width: 450px) {
  .subject_form .main_form {
    width: 99%;
    padding: 20px 5px;
  }
  .subject_form .uppper_section .main_upper {
    flex-wrap: wrap;
  }
  .subject_form .uppper_section .main_upper .up_column .up_icon {
    width: 35px;
    height: 35px;
  }
  .subject_form .uppper_section .main_upper .up_column .up_icon i {
    font-size: 15px;
  }
  .subject_form .uppper_section .main_upper .up_column h3 {
    font-size: 10px;
  }
}
