/*Popular subjects*/
.maininde {
  background-color: #000;
  height: 100vh;
}
.maininde .popular_subjects {
  padding: 100px 50px 75px 50px;
  width: 100%;
  margin: 0 auto;
}
.maininde .popular_subjects h1 {
  font-size: 25px;
  margin-bottom: 25px;
  color: #fff;
}
.maininde .popular_subjects .subject_area {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-gap: 25px;
  justify-content: center;
  align-items: stretch;
}
.maininde .popular_subjects .subject_area .subject_in_cards {
  position: relative;
  width: 100%;
  background-color: #262626;
  border: 2px solid #262626;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.maininde .popular_subjects .subject_area .subject_in_cards .subject_head {
  position: relative;
  height: 190px;
  background: linear-gradient(to right, var(--cardBackground), #000);
  margin-bottom: 15px;
}
.maininde
  .popular_subjects
  .subject_area
  .subject_in_cards
  .subject_head
  .teach_img {
  padding: 3px;
  width: 80px;
  text-align: center;
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: #fff;
  border: 2px solid #eee;
}
.maininde
  .popular_subjects
  .subject_area
  .subject_in_cards
  .subject_head
  .teach_img
  h3 {
  font-size: 13px;
}
.maininde
  .popular_subjects
  .subject_area
  .subject_in_cards
  .subject_head
  .subject_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.maininde
  .popular_subjects
  .subject_area
  .subject_in_cards
  .subject_head
  .subject_img
  img {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  object-fit: cover;
}
.maininde .popular_subjects .subject_area .subject_in_cards .subject_body {
  padding: 8px;
  color: #fff;
  text-align: center;
}
.maininde .popular_subjects .subject_area .subject_in_cards .subject_tail {
  padding: 10px 0;
  font-size: 13px;
  color: #888;
  font-weight: bold;
}
.maininde .popular_subjects .subject_area .subject_in_cards .subject_body h4 {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 8px;
}
.maininde .popular_subjects .subject_area .subject_in_cards .subject_body p {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 5px;
}
.maininde .popular_subjects .al_subject_area .subject_in_cards .subject_body p {
  font-size: 14px;
  margin-bottom: 5px;
}
.maininde
  .popular_subjects
  .subject_area
  .subject_in_cards
  .subject_body
  .row_sim {
  width: 100%;
}
.maininde .popular_subjects .subject_area .subject_in_cards .subject_body h3 {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}
.maininde .popular_subjects .subject_area .subject_in_cards .subject_body h3 i {
  margin-right: 5px;
  font-size: 14px;
}
.maininde .popular_subjects .al_subject_area .subject_in_cards .subject_tail {
  width: 100%;
  padding: 8px 5px;
  background-color: #eeeeee73;
  position: absolute;
  bottom: 0;
  z-index: 150;
  font-size: 12px;
}
.maininde .popular_subjects .subject_area .subject_in_cards .subject_tail p i {
  margin-right: 5px;
}
@media screen and (max-width: 1300px) {
  .maininde .popular_subjects {
    width: 100%;
    padding: 95px 25px 50px;
  }
}
@media screen and (max-width: 370px) {
  .maininde .popular_subjects .subject_area .subject_in_cards {
    width: 100%;
    margin: 15px 0;
  }
  .maininde .popular_subjects .subject_area {
    display: block;
  }
}
@media screen and (max-width: 250px) {
  .maininde .popular_subjects .subject_area .subject_in_cards .subject_head {
    height: 150px;
  }
  .maininde .popular_subjects {
    padding: 0 5px;
  }
  .maininde .upper_cover h1 {
    font-size: 25px;
  }
}
