.mainBulk {
  width: 100%;
}
.mainBulk .infoBulk {
  padding: 25px;
  background-color: #262626;
  border-radius: 8px;
}
.mainBulk .infoBulk h1 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}
.mainBulk .infoBulk p {
  color: #eee;
  margin-bottom: 12px;
}
.mainBulk .fileRow {
  margin: 20px 0;
  display: flex;
  grid-gap: 15px;
}
.mainBulk .fileRow button {
  width: 250px;
  padding: 8px 5px;
  border: 1px solid var(--h1Fontcolor);
  border-radius: 3px;
  background-color: var(--h1Fontcolor);
  color: #fff;
  transition: 0.5s ease;
  cursor: pointer;
  outline: none;
  margin: 8px;
}

.outer-uploadModel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #00000047;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer-uploadModel .uploadModel {
  position: relative;
  width: 50%;
  min-height: 120px;
  padding: 25px;
  border: 1px solid #262626;
  border-radius: 5px;
  box-shadow: 0px 0px 13px 1px #262626;
  background-color: #262626;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.outer-uploadModel .uploadModel .sec {
  display: flex;
  align-items: center;
}
.outer-uploadModel .uploadModel .sec label {
  margin-right: 20px;
}
.outer-uploadModel .uploadModel .sec div {
  display: flex;
}
.outer-uploadModel .uploadModel .sec p {
  color: #eee;
  font-size: 12px;
  margin-left: 5px;
}
.outer-uploadModel .uploadModel .closebut {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.outer-uploadModel .uploadModel .closebut button {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.outer-uploadModel .uploadModel .closebut button i {
  color: red;
  animation: initial;
}

.outer-uploadModel .uploadModel input {
  display: none;
}
.outer-uploadModel .uploadModel label {
  padding: 8px 5px;
  background-color: var(--h1Fontcolor);
  width: 150px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}
.outer-uploadModel .uploadModel button {
  padding: 8px 5px;
  background-color: var(--h1Fontcolor);
  width: 200px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
.outer-uploadModel .uploadModel button i {
  color: #fff;
  margin-right: 5px;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 1200px) {
  .outer-uploadModel .uploadModel {
    width: 80%;
  }
}
@media screen and (max-width: 650px) {
  .mainBulk .fileRow {
    flex-wrap: wrap;
  }
  .outer-uploadModel .uploadModel {
    flex-wrap: wrap;
    grid-gap: 15px;
  }
  .outer-uploadModel .uploadModel .sec {
    flex-wrap: wrap;
    grid-gap: 10px;
  }
}
