.main_ar_course {
  padding: 12px;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-seri;
}
.main_ar_course .course_head {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_ar_course .course_head .crcs h2 {
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
  background-color: #ffff;
  padding: 7px;
  color: var(--buttonColor1);
  width: 120px;
  text-align: center;
  border: 1px solid var(--buttonColor1);
  font-weight: 500;
  border-radius: 20px;
  transition: 0.3s ease;
}
.main_ar_course .course_head .crcs h2:hover {
  background-color: var(--buttonColor1);
  color: #fff;
}
.main_ar_course .course_head .crcs a {
  text-decoration: none;
}
.main_ar_course .course_head .search input {
  width: 400px;
  padding: 9px 35px 9px 10px;
  border-radius: 20px;
  border: 1px solid #c5c5c5;
  outline: none;
}
.main_ar_course .course_head .search button {
  transform: translateX(-30px);
  background-color: transparent;
  border: none;
}
.main_ar_course .course_head .search button i {
  cursor: pointer;
  outline: none;
}
.main_ar_course .course_body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 317px));
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  align-items: center;
}
.main_ar_course .course_body .course_card a {
  text-decoration: none;
  color: #000;
}
.main_ar_course .course_body .course_card {
  position: relative;
  height: 370px;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #8b8b8b;
  border-radius: 3px;
  overflow: hidden;
  transition: 0.5s ease;
}
.main_ar_course .course_body .course_card:hover {
  box-shadow: 0px 0px 7px 3px #eee;
}
.main_ar_course .course_body .course_card .cscard_head {
  position: relative;
  width: 100%;
  height: 55%;
  background-image: linear-gradient(45deg, #f3fff8, #d4e8ff);
}
.main_ar_course .course_body .course_card .cscard_head img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}
.main_ar_course .course_body .course_card .cscard_head:hover img {
  opacity: 0.8;
}
.main_ar_course .course_body .course_card .cos_options {
  position: absolute;
  top: 2px;
  right: 5px;
}
.main_ar_course .course_body .course_card .cos_options h3 {
  text-align: right;
}
.main_ar_course .course_body .course_card .cos_options h3 i {
  color: #fff;
  transition: 0.5s;
}
.main_ar_course .course_body .course_card .cos_options .options_body {
  display: none;
  width: 130px;
  padding: 5px;
  background-color: #ffffffec;
}
.main_ar_course .course_body .course_card .cos_options .options_body ul li {
  padding: 8px 3px;
  text-align: left;
  font-size: 13px;
  list-style: none;
  border-bottom: 1px solid #ccc;
}
.main_ar_course
  .course_body
  .course_card
  .cos_options
  .options_body
  ul
  li:hover {
  background-color: #eee;
}
.main_ar_course .course_body .course_card .cos_options:hover .options_body {
  display: block;
}
.main_ar_course .course_body .course_card .cos_options:hover h3 i {
  transform: rotateZ(180deg);
}
.main_ar_course .course_body .course_card .cos_options .options_body ul li {
  color: red;
}
.main_ar_course .course_body .course_card .cos_options .options_body ul a li {
  color: #000;
}
.main_ar_course .course_body .course_card .card_course_time {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 2px;
  border-radius: 20px;
  background-color: #005049;
}
.main_ar_course .course_body .course_card .card_course_time h3 {
  color: #fff;
  font-size: 12px;
  padding: 6px;
  font-weight: 300;
}
.main_ar_course .course_body .course_card .card_course_time i {
  font-size: 12px;
  margin-right: 3px;
  color: #fff;
}
.main_ar_course .course_body .course_card .cscard_body {
  position: relative;
  padding: 12px 8px 15px;
  max-height: 130px;
  overflow-y: auto;
}
.main_ar_course .course_body .course_card .cscard_body::-webkit-scrollbar {
  width: 5px;
  display: none;
}
.main_ar_course .course_body .course_card .cscard_body .cscard_mid h2 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--h1Fontcolor);
  text-align: center;
}
.main_ar_course .course_body .course_card .cscard_body .cscard_mid .ty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.main_ar_course .course_body .course_card .cscard_body .cscard_mid h3 {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
}
.main_ar_course .course_body .course_card .cscard_body .cscard_mid .ty h4 {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #606060;
}
.main_ar_course .course_body .course_card .cscard_body .cscard_mid .ty h5 {
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  color: #606060;
}
.main_ar_course .course_body .course_card .cscard_body .cscard_mid .ty i {
  margin-right: 5px;
  font-size: 13px;
}
.main_ar_course .course_body .course_card .cscard_bottom {
  width: 100%;
  height: 50px;
  padding: 0 8px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 11px;
  background-color: #f5f5f587;
}
.main_ar_course .course_body .course_card .cscard_bottom h4 {
  font-weight: 400;
  letter-spacing: 0.8px;
}
.main_ar_course .course_body .course_card .cscard_bottom i {
  margin-right: 5px;
}
