.subject_form {
  width: 100%;
}
.subject_form .main_form {
  width: 900px;
  margin: 15px auto;
  padding: 30px 25px;
  background-color: #fff;
}
.subject_form .uppper_section {
  width: 100%;
  padding: 45px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subject_form .uppper_section .main_upper {
  position: relative;
  display: flex;
  width: 900px;
  justify-content: space-around;
  align-items: center;
}
.subject_form .uppper_section .main_upper .up_column {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subject_form .uppper_section .main_upper .up_column:nth-child(1):after,
.up_column:nth-child(2):after {
  content: "";
  width: 75%;
  height: 0px;
  right: -38%;
  top: 30%;
  border-top: 2px dotted #054f5a;
  position: absolute;
}
.subject_form .uppper_section .main_upper .up_column .up_icon {
  width: 55px;
  height: 55px;
  border: 2px solid #00a959;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 20px;
}
.subject_form .uppper_section .main_upper .up_column .act {
  background-color: #00a959;
}
.subject_form .uppper_section .main_upper .up_column .act i {
  color: #fff;
}
.subject_form .uppper_section .main_upper .up_column .up_icon i {
  font-size: 18px;
}
.subject_form .uppper_section .main_upper .up_column h3 {
  font-weight: 500;
  font-size: 15px;
  color: #00a959;
}
.subject_form .main_form h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 28px;
  color: #00bf4d;
}
.subject_form .main_form p {
  position: relative;
  margin-bottom: 15px;
}
.subject_form .main_form p label {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  color: #000;
  font-weight: 600;
}
.subject_form .main_form p input,
p textarea {
  position: relative;
  width: 100%;
  padding: 9px 5px;
  border: 1px solid #c1c1c1;
  outline: none;
  border-radius: 3px;
}
.subject_form .main_form p .on_row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subject_form .main_form p input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.subject_form .main_form p input[type="number"] {
  position: relative;
}
.subject_form .main_form p span.curu {
  background-color: #00a959;
  width: 40px;
  padding: 8px;
  color: #fff;
}
.subject_form .main_form .sub_sect {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subject_form .main_form .sub_sect p {
  flex: 0.5;
}
.subject_form .main_form .sub_sect p:nth-child(1) {
  margin-right: 15px;
}
.subject_form .main_form .sub_sect p select {
  width: 100%;
  padding: 9px 3px;
  outline: none;
  border: 1px solid #c1c1c1;
  border-radius: 3px;
  color: #077c36;
  font-weight: 500;
  font-size: 13px;
}
.subject_form .main_form p input[type="button"] {
  margin-top: 20px;
  width: 200px !important;
  border: 1px solid transparent;
  cursor: initial;
  background-color: #15702b;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
}
.subject_form .main_form p input[type="submit"] {
  margin-top: 20px;
  width: 200px !important;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: #28a745;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
}
.subject_form .main_form p input[type="submit"]:hover {
  background-color: #139e33;
}
.subject_form .main_form p button.sub {
  margin-top: 20px;
  width: 200px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: #28a745;
  color: #fff;
  font-weight: 600;
  padding: 10px;
  outline: none;
  transition: 0.3s ease;
}
.subject_form .main_form p button.sub:hover {
  background-color: #139e33;
}
.subject_form .main_form p button .notch {
  color: #fff;
  font-size: 18px;
  margin-left: 5px;
  animation: rot 1s linear infinite;
}
@keyframes rot {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.subject_form .main_form p button .dis {
  display: none;
}
.subject_form .main_form p .hr {
  position: absolute;
  right: 0;
  width: 45px;
  padding: 8px;
  text-align: center;
  background-color: #00a959;
  color: #fff;
}

/*Updating cover*/
.subject_form .main_form .up_pro_pic {
  width: 100%;
  margin-bottom: 20px;
}
.subject_form .main_form .up_pro_pic .cropper_be {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
}
.subject_form .main_form .up_pro_pic .finCropImg {
  width: 100%;
  height: 310px;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #054f5a, #525151);
}
.subject_form .main_form .up_pro_pic .finCropImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.75;
}
.subject_form .main_form .up_pro_pic p {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subject_form .main_form .up_pro_pic input {
  display: none;
}
.subject_form .main_form .up_pro_pic label,
button.cp {
  width: 200px;
  text-align: center;
  border: 1px solid #00a959;
  padding: 8px 5px;
  font-size: 13px;
  cursor: pointer;
  margin: 0;
  background: none;
  transition: 0.5s ease;
}
.subject_form .main_form .up_pro_pic label:hover {
  background-color: #00a959;
  color: #fff;
}
.subject_form .main_form .up_pro_pic button.cp {
  background-color: #00a959;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.subject_form .main_form .up_pro_pic button.cp:hover {
  background-color: #04c56b;
  color: #fff;
}

.subject_form .main_form p .tip {
  font-size: 11px;
  position: absolute;
  bottom: -30px;
  right: 0;
  padding: 5px 8px;
  background-color: #fb01010d;
  color: red;
  border-radius: 2px;
  z-index: 100;
  transition: opacity 0.9s;
  text-transform: capitalize;
}
.subject_form .main_form p .hidetip {
  opacity: 0;
  user-select: none;
}
.subject_form .main_form .comtip {
  font-size: 13px;
  margin-bottom: 12px;
  color: red;
}

.subject_form .main_form .editorck {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

/*multiple file input style*/
.subject_form .main_form .multi_files .multi {
  display: none;
}
.subject_form .main_form .multi_files label {
  width: 190px;
  padding: 8px 4px;
  border: 1px solid #28a745;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  border-radius: 2px;
  transition: 0.3s ease;
}
.subject_form .main_form .multi_files label:hover {
  background-color: #28a745;
  color: #fff;
}

/*##module upload files##*/
.subject_form .main_form .show_files {
  margin: 15px 0;
  padding: 5px;
  background-color: #fff;
}
.subject_form .main_form .show_files .up_list {
  list-style: none;
}
.subject_form .main_form .show_files .up_list li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 12px 8px;
  word-break: break-all;
  animation: blinking 2.5s infinite alternate;
}
@keyframes blinking {
  0% {
    background-color: #f5fff5;
  }
  100% {
    background-color: #fff;
    color: green;
  }
}
.subject_form .main_form .show_files .up_list li span i {
  margin-right: 5px;
  font-size: 11px;
}
.subject_form .main_form .show_files .up_list li .dis {
  display: none;
}
.subject_form .main_form .show_files .up_list li .rot {
  animation: rota 1s ease-in-out infinite;
}
@keyframes rota {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.subject_form .main_form .show_files .up_list li .moddl {
  color: #de0404;
  cursor: pointer;
  font-size: 16px;
}

.ck.ck-editor {
  min-height: 160px !important;
}
.ck-content {
  min-height: 160px !important;
}
.subject_form .main_form .multi_files .progressPath {
  width: 100%;
  height: 15px;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
}
.subject_form .main_form .multi_files .progressPath .progressBar {
  border-radius: 20px;
  height: 100%;
  background-image: linear-gradient(to right, #13b56a, #3e9264);
}
