.logo {
  width: 100%;
  height: 60px;
  background-image: linear-gradient(90deg, #b6ffd4);
  padding: 5px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--cardBackground);
}
.logo h1 {
  font-size: 22px;
  white-space: nowrap;
  font-family: "Open Sans", sans-seri;
  color: var(--h1Fontcolor);
}
.logo img {
  width: 180px;
}
.logo h1 span {
  font-size: 15px;
  font-weight: 500;
}
.profile_menu {
  width: 100%;
  margin: 45px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile_menu .pro_pic {
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 6px 6px #eeeeeeb8;
  border-radius: 5px;
  padding: 8px;
  overflow: hidden;
}
.profile_menu .pro_pic img {
  width: 100%;
  height: 100%;
}
.profile_menu .details {
  margin: 15px 0 0;
  text-align: center;
}
.profile_menu .details h2 {
  font-weight: 500;
  font-size: 14px;
}
.profile_menu .details h3 {
  font-weight: 400;
  font-size: 13px;
  color: var(--h1Fontcolor);
}
.main_section {
  margin: 25px 0;
  width: 100%;
}
.main_section .list {
  width: 100%;
}
.main_section .list ul {
  width: 100%;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.main_section .list ul li {
  width: 100%;
  padding: 18px 15px;
  font-size: 16px;
  color: #000;
  border: 1px solid #00bf4d1c;
  cursor: pointer;
  font-weight: 500;
  white-space: nowrap;
  transition: 0.5s ease-out;
}
.main_section .list ul a {
  width: 100%;
  font-size: 16px;
  text-decoration: none;
  color: var(--h1Fontcolor);
  font-weight: 500;
}
.main_section .list ul li i {
  margin-right: 15px;
  color: #000;
}
.main_section .list ul li:hover {
  background: #fff2f6;
  color: var(--h1Fontcolor);
}
.main_section .list ul li:hover a {
  color: var(--cardBackground);
}
