.main {
  width: 100%;
  background-color: #f4fff9;
  display: flex;
}
.main .main_column:first-child {
  position: sticky;
  top: 0;
  width: 350px;
  height: 100vh;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: linear-gradient(296deg, transparent, transparent, #b6ffd4);
  transition: 0.5s ease;
}
.main .main_column:last-child {
  position: relative;
  flex: 100%;
}
.main .main_column .head {
  width: 100%;
  padding: 5px 8px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .main_column .head .column:first-child i {
  cursor: pointer;
  font-size: 19px;
  color: #00bf4d;
}
.main .main_column .head .column:last-child {
  display: flex;
  align-items: center;
}
.main .main_column .head .column .sec {
  margin: 0 13px;
}
.main .main_column .head .column .sec span {
  font-size: 18px;
  color: #00bf4d;
  cursor: pointer;
}
.main .main_column .head .column .sec .profile {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 2px;
  border: 2px solid #00bf4d;
  border-radius: 50%;
}
.main .main_column .head .column .sec .profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.main .main_column .head .column .sec .profile .drop_down {
  user-select: none;
  opacity: 0;
  position: absolute;
  right: -10px;
  bottom: -98px;
  background-color: #fff;
  width: 150px;
  padding: 8px 5px;
  z-index: 1000;
  transition: 0.5s;
}
.main .main_column .sub_column {
  padding: 25px;
}
.main
  .main_column
  .head
  .column
  .sec
  .profile
  .drop_down
  .drop_down_list
  ul
  li {
  list-style: none;
  font-size: 15px;
  padding: 3px;
  margin-bottom: 12px;
  cursor: pointer;
  font-weight: 500;
  user-select: none;
  transition: 0.3s;
}
.main .main_column .head .column .sec .profile .drop_down .drop_down_list ul a {
  text-decoration: none;
  font-size: 14px;
}
.main
  .main_column
  .head
  .column
  .sec
  .profile
  .drop_down
  .drop_down_list
  ul
  li
  i {
  margin-right: 10px;
  color: #00bf4d;
}
.main
  .main_column
  .head
  .column
  .sec
  .profile
  .drop_down
  .drop_down_list
  ul
  li:hover {
  color: #00bf4d;
}
.main .main_column .head .column .sec .profile .prActive {
  user-select: auto;
  opacity: 1;
  height: auto;
}
.main .active {
  width: 0px !important;
}
