.detail-outer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #000000cc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-outer .details-model {
  position: relative;
  min-width: 650px;
  padding: 40px 25px;
  background-color: #262626;
  border-radius: 5px;
}
.detail-outer .details-model h1 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.detail-outer .details-model h3 {
  color: #fff;
  margin: 30px 0;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
}
.detail-outer .details-model .sec {
  display: flex;
  grid-gap: 10px;
  margin-bottom: 20px;
}
.detail-outer .details-model p {
  width: 100%;
  position: relative;
}
.detail-outer .details-model p label {
  color: #fff;
  display: block;
  margin-bottom: 5px;
}
.detail-outer .details-model p input {
  width: 100%;
  padding: 8px 5px;
  background-color: #000;
  border: 1px solid transparent;
  outline: tomato;
  color: #eee;
  border-radius: 3px;
}
.detail-outer .details-model p input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.detail-outer .details-model .but-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-column-gap: 40px;
}
.detail-outer .details-model button {
  width: 140px;
  padding: 8px;
  background-color: var(--h1Fontcolor);
  margin-top: 5px;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid transparent;
}

.detail-outer .details-model p .tip {
  font-size: 11px;
  position: absolute;
  bottom: -25px;
  right: 0;
  padding: 5px 8px;
  background-color: transparent;
  color: red;
  border-radius: 2px;
  z-index: 100;
  transition: opacity 0.9s;
  text-transform: capitalize;
}
.detail-outer .details-model p .hidetip {
  opacity: 0;
  user-select: none;
}

@media screen and (max-width: 790px) {
  .detail-outer .details-model {
    min-width: 90%;
  }
}
@media screen and (max-width: 430px) {
  .detail-outer .details-model {
    min-width: 85%;
  }
  .detail-outer .details-model .sec {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 430px) {
  .detail-outer .details-model h1 {
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 350px) {
  .detail-outer {
    align-items: flex-end;
  }
  .detail-outer .details-model h1 {
    font-size: 18px;
  }
  .detail-outer .details-model .sec {
    margin-bottom: 10px;
  }
  .detail-outer .details-model h3 {
    margin: 15px 0;
  }
}
