.main_sub {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.main_sub .simple_nav {
  top: 100px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 10px #eee;
  padding: 20px;
  flex: 0.25;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}
.main_sub .simple_nav a {
  text-decoration: none;
  color: #000;
  width: 200px;
  font-size: 13px;
  font-weight: 500;
  padding: 7px;
  border: 1px solid #ffae29;
  text-align: center;
  transition: 0.3s ease;
}
.main_sub .simple_nav a:hover {
  background-color: #ffae29;
  color: #fff;
}
.main_sub .show {
  margin-top: 10px;
  width: 100%;
  flex: 1;
}
/*back button*/
.main_sub .show .back {
  width: 100%;
}
.main_sub .show .back button {
  padding: 8px 10px;
  background-color: #fff;
  border: 1px solid #ffae29;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.main_sub .show .back button i {
  margin-right: 5px;
}
.main_sub .show .back button:hover {
  background-color: #ffae29;
  color: #fff;
}
.main_sub .show .back button:hover i {
  color: #fff;
}
