.main_sub {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main_sub .simple_nav {
  position: sticky;
  top: 100px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 10px #eee;
  min-height: 20vh;
  flex: 0.25;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.main_sub .simple_nav a {
  text-decoration: none;
  color: #000;
  width: 200px;
  font-size: 13px;
  font-weight: 500;
  padding: 7px;
  border: 1px solid #00bf4d;
  text-align: center;
  transition: 0.3s ease;
}
.main_sub .simple_nav a:hover {
  background-color: #00bf4d;
  color: #fff;
}
.main_sub .show {
  flex: 0.75;
}
