.model_page {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000054;
  z-index: 3000;
}
.model_page .on_model_page {
  position: relative;
  width: 800px;
  height: 550px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  border-radius: 5px;
  box-shadow: 0px 0px 14px 4px #777;
  justify-content: center;
  align-items: center;
}
.model_page .on_model_page .close_but button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  background: none;
  border: 1px solid #0ead3f;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  z-index: 99;
  transition: 0.3s ease-in;
}
.model_page .on_model_page .close_but button i {
  font-size: 18px;
  color: #0ead3f;
  user-select: none;
}
.model_page .on_model_page .close_but button:hover {
  background-color: #0ead3f;
}
.model_page .on_model_page .close_but button:hover i {
  color: #fff;
}
.model_page .on_model_page .model_content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.model_page .on_model_page .image_crop_container {
  position: relative;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.model_page .on_model_page .preview_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.model_page .on_model_page .preview_container .loader {
  position: relative;
}
.model_page .on_model_page .preview_container svg {
  position: relative;
  width: 310px;
  height: 310px;
}
.model_page .on_model_page .preview_container svg circle {
  width: 300px;
  height: 300px;
  fill: none;
  stroke-width: 8;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 972;
  stroke-dashoffset: 972;
  stroke-linecap: round;
  transition: 0.3s ease;
}
.model_page .on_model_page .preview_container svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #eee;
}
.model_page .on_model_page .preview_container svg circle:nth-child(2) {
  stroke: #13b56a;
}
.model_page .on_model_page .preview_container img {
  position: absolute;
  top: 49%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: 92%;
  height: 92%;
  border-radius: 50%;
}
.model_page .on_model_page .image_crop_container .butbut {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
.model_page .on_model_page .preview_container .butbut {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}
.model_page .on_model_page .butbut button {
  width: 180px;
  padding: 10px;
  border-color: transparent;
  color: #fff;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  background-color: #13b56a;
  transition: 0.2s ease-in;
}
.model_page .on_model_page .butbut button:hover {
  background-color: #11a15e;
}
.model_page .on_model_page .butbut .count {
  color: #0ead3f;
  font-size: 18px;
}

.disnone {
  display: none !important;
}
