.models {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Open Sans", sans-seri;
}
.models .md_all_models {
  flex: 0.7;
  margin-right: 10px;
}
.models .md_all_models .models_en_nav {
  width: 100%;
  padding: 10px;
}
.models .md_all_models .models_en_nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.models .md_all_models .models_en_nav ul li {
  font-size: 14px;
  margin: 5px;
  text-align: center;
  padding: 8px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  background: var(--h1Fontcolor);
  border: 1px solid var(--h1Fontcolor);
  color: #fff;
  transition: 0.2s ease;
}
.models .md_all_models .models_en_nav ul a {
  color: #fff;
  text-decoration: none;
}
.models .md_all_models .models_en_nav ul li:hover {
  background-image: var(--h1Fontcolor);
}
.models .md_all_models .models_en_nav ul li i {
  font-size: 12px;
  margin-right: 10px;
  color: #fff;
}
.models .md_all_models .md_models {
  width: 100%;
}
.models .md_all_models .md_models .cr_models {
  width: 100%;
  margin: 25px 0;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.models .md_all_models .md_models .cr_models button {
  padding: 8px;
  width: 150px;
  border: 1px solid var(--buttonColor1);
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  outline: none;
  transition: 0.3s;
}
.models .md_all_models .md_models .cr_models button i {
  margin-right: 10px;
  color: var(--buttonColor1);
}
.models .md_all_models .md_models .cr_models button:hover {
  background-color: var(--buttonColor1);
  color: #fff;
}
.models .md_all_models .md_models .cr_models button:hover i {
  color: #fff;
}
.models .md_all_models .md_models .al_models {
  width: 100%;
}
.models .md_all_models .md_models .al_models .al_on_model {
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.models .md_all_models .md_models .al_models .on_model_head {
  width: 100%;
  padding: 15px 20px 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
}
.models .md_all_models .md_models .al_models .on_model_head h1 {
  font-size: 17px;
  font-weight: 500;
  color: var(--h1Fontcolor);
}
.models .md_all_models .md_models .al_models .on_model_head .heads_buts button {
  background: none;
  border: none;
  margin: 0 5px;
  width: 25px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
}
.models .md_all_models .md_models .al_models .empy {
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.models
  .md_all_models
  .md_models
  .al_models
  .on_model_head
  .heads_buts
  button:nth-child(1)
  i {
  color: var(--buttonColor1);
  font-size: 16px;
}
.models
  .md_all_models
  .md_models
  .al_models
  .on_model_head
  .heads_buts
  button:nth-child(2)
  i {
  color: #cf2418;
  font-size: 16px;
}
.models .md_all_models .md_models .al_models .on_model_body {
  width: 100%;
  padding: 10px 10px 5px 10px;
}
.models .md_all_models .md_models .al_models .on_model_body .model_body_row {
  padding: 10px 8px 15px;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}
.models
  .md_all_models
  .md_models
  .al_models
  .on_model_body
  .model_body_row
  .re_player {
  position: relative;
  padding: 23%;
  margin: 10px 5px 20px;
}
/*Youtube Player Overlay*/
.models
  .md_all_models
  .md_models
  .al_models
  .on_model_body
  .model_body_row
  .re_player
  .player_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.models
  .md_all_models
  .md_models
  .al_models
  .on_model_body
  .model_body_row
  .re_player
  .player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.models
  .md_all_models
  .md_models
  .al_models
  .on_model_body
  .model_body_row:first-child:hover {
  background-color: transparent;
}
.models
  .md_all_models
  .md_models
  .al_models
  .on_model_body
  .model_body_row:hover {
  background-color: #f8f8ff;
}
.models .md_all_models .md_models .al_models .on_model_body .model_body_row p {
  font-size: 15px;
  color: #717171;
  font-weight: 400;
}
.models
  .md_all_models
  .md_models
  .al_models
  .on_model_body
  .model_body_row
  figure.image {
  text-align: center;
  margin: 5px;
}
.models
  .md_all_models
  .md_models
  .al_models
  .on_model_body
  .model_body_row
  figure.image
  img {
  width: auto;
  max-height: 60%;
  max-width: 70%;
}
.models
  .md_all_models
  .md_models
  .al_models
  .on_model_body
  .model_body_row
  p
  i {
  margin-right: 10px;
  font-size: 23px;
}
.models
  .md_all_models
  .md_models
  .al_models
  .on_model_body
  .model_body_row
  p
  a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 13px;
}

.models .md_course_desc {
  flex: 0.3;
  position: sticky;
  top: 90px;
  bottom: 0;
  background-color: #fff;
  overflow: auto;
  border: 1px solid #ccc;
}
.models .md_course_desc::-webkit-scrollbar {
  width: 5px;
}
.models .md_course_desc::-webkit-scrollbar-track {
  background: transparent;
}
.models .md_course_desc::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 20px;
  border: transparent;
}

/*mobile links*/
.models .md_course_desc .colCourseView .mobile_list {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
  display: none;
}
.models .md_course_desc .colCourseView .mobile_list .hammenulist button {
  background-color: transparent;
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
}
.models .md_course_desc .colCourseView .mobile_list .hammenulist button i {
  font-size: 19px;
}
.models .md_course_desc .colCourseView .mobile_list .listmob {
  display: none;
}
.models .md_course_desc .colCourseView .mobile_list ul {
  position: absolute;
  top: 40px;
  right: 0;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: -1px 1px 12px 4px #e5e4e4;
}
.models
  .md_course_desc
  .colCourseView
  .mobile_list
  .hammenulist:hover
  .listmob {
  display: block;
}
.models .md_course_desc .colCourseView .mobile_list ul li {
  font-size: 14px;
  list-style: none;
  padding: 15px 0px;
  transition: 0.3s ease;
}
.models .md_course_desc .colCourseView .mobile_list ul li:hover {
  background-color: #eee;
}
.models .md_course_desc .colCourseView .mobile_list ul a {
  text-decoration: none;
  color: #000;
}
/*////*/
.models .md_course_desc .colCourseView {
  position: relative;
  height: 100%;
}
.models .md_course_desc .course_desc_head {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 102;
  background-color: #fff;
}
.models .md_course_desc .course_desc_head .menulist {
  width: 100%;
}
.models .md_course_desc .course_desc_head .menulist ul {
  width: 100%;
  text-align: left;
  list-style: none;
}
.models .md_course_desc .course_desc_head .menulist ul li {
  padding: 12px 5px 12px 12px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
  font-size: 13px;
}
.models .md_course_desc .course_desc_head .menulist ul li i {
  margin-right: 8px;
}
.models .md_course_desc .course_desc_head .menulist ul li:hover {
  background-color: #f4f4f4;
}
.models .md_course_desc .course_desc_head .menulist ul a {
  text-decoration: none;
  color: #000;
  font-size: 13px;
}
.models .md_course_desc .course_desc_head .course_pic {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, var(--h1Fontcolor), #000);
}
.models .md_course_desc img {
  width: 100%;
  height: 100%;
  opacity: 0.75;
  object-fit: cover;
}
.models .md_course_desc .course_desc_head h2 {
  font-size: 18px;
  font-weight: 500;
  color: var(--h1Fontcolor);
  margin-bottom: 8px;
  margin-left: 15px;
}
.models .md_course_desc .course_desc_head h3 {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 400;
  text-transform: capitalize;
  margin-left: 15px;
}
.models .md_course_desc .course_desc_body {
  padding: 10px 5px;
}
.models .md_course_desc .course_desc_body .card_of_course {
  border: 1px solid transparent;
  padding: 5px;
}
.models .md_course_desc .course_desc_body .card_of_course .course_pic {
  position: relative;
}
.models .md_course_desc .course_desc_body .card_of_course .cos_options {
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 0;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
}
.models .md_course_desc .course_desc_body .card_of_course .cos_options {
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 0;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
}
.models .md_course_desc .course_desc_body .card_of_course .cos_options button {
  padding: 8px 5px;
  width: 120px;
  background-color: var(--buttonColor1);
  border: none;
  color: #fff;
  font-size: 12px;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.models
  .md_course_desc
  .course_desc_body
  .card_of_course
  .cos_options
  button:nth-child(2) {
  background-color: #cf2418;
}
.models
  .md_course_desc
  .course_desc_body
  .card_of_course
  .cos_options
  button
  i {
  margin-right: 5px;
  color: #fff;
}
.models
  .md_course_desc
  .course_desc_body
  .card_of_course
  .cos_options
  button:hover {
  background-color: var(--buttonColorHover1);
}
.models
  .md_course_desc
  .course_desc_body
  .card_of_course
  .cos_options
  button:nth-child(2):hover {
  background-color: #be1e12;
}
.models .md_course_desc .course_desc_body .card_of_course .course_detail h2 {
  color: var(--h1Fontcolor);
  font-size: 17px;
  margin-top: 15px;
  text-transform: capitalize;
}
.models .md_course_desc .course_desc_body .card_of_course .course_detail h3 {
  font-size: 12px;
  color: #777;
  padding-bottom: 8px;
}
.models
  .md_course_desc
  .course_desc_body
  .card_of_course
  .course_detail
  .course_short_desc
  h3 {
  font-size: 14px;
  font-weight: 600;
}
.models .md_course_desc .course_desc_body .course_short_desc {
  max-height: 28vh;
  overflow-y: auto;
  margin-bottom: 10px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
}
.models .md_course_desc .course_desc_body .st_course_short_desc {
  max-height: 30vh;
}
.models
  .md_course_desc
  .course_desc_body
  .course_short_desc::-webkit-scrollbar {
  width: 5px;
  display: none;
}
.models
  .md_course_desc
  .course_desc_body
  .course_short_desc:hover::-webkit-scrollbar {
  width: 5px;
  display: block;
}
.models
  .md_course_desc
  .course_desc_body
  .course_short_desc::-webkit-scrollbar-track {
  background: transparent;
}
.models
  .md_course_desc
  .course_desc_body
  .course_short_desc::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 20px;
  border: transparent;
}
.models .md_course_desc .course_desc_body .course_short_desc h3 {
  font-size: 15px;
  color: var(--h1Fontcolor);
  margin-bottom: 8px;
  font-weight: 500;
}
.models .md_course_desc .course_desc_body .course_short_desc p {
  font-size: 12px;
  text-align: justify;
  color: #808080;
  word-break: break-all;
}
.models .md_course_desc .course_desc_body .course_all_student {
  height: 30vh;
  overflow-y: auto;
}
.models .md_course_desc .course_desc_body .course_all_student .student_top {
  display: flex;
  justify-content: space-between;
}
.models .md_course_desc .course_desc_body .course_all_student .student_top a {
  color: black;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: slateblue;
}
.models .md_course_desc .course_desc_body .course_all_student h3 {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 500;
  color: var(--h1Fontcolor);
}
.models
  .md_course_desc
  .course_desc_body
  .course_all_student
  .all_course_student
  .student_row {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.models
  .md_course_desc
  .course_desc_body
  .course_all_student
  .all_course_student
  .student_row
  img {
  height: 100%;
  opacity: 1;
}
.models
  .md_course_desc
  .course_desc_body
  .course_all_student
  .all_course_student
  .student_row
  .student_col {
  height: 60px;
  width: 60px;
  margin-right: 5px;
  border-radius: 50%;
  overflow: hidden;
}
.md_course_desc
  .course_desc_body
  .course_all_student
  .all_course_student
  .student_row
  .student_col_des {
  flex: 0.7;
  display: flex;
  align-items: center;
}
.md_course_desc
  .course_desc_body
  .course_all_student
  .all_course_student
  .student_row
  .student_col_des
  h3 {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.md_course_desc
  .course_desc_body
  .course_all_student
  .all_course_student
  .student_row:hover {
  background-color: #f5f5f5;
  color: var(--h1Fontcolor);
}
.md_course_desc .course_desc_body {
  scrollbar-width: thin;
  scrollbar-color: #afafaf;
}
.md_course_desc .course_desc_body .course_all_student::-webkit-scrollbar {
  width: 5px;
}
.md_course_desc .course_desc_body .course_all_student::-webkit-scrollbar-track {
  background: transparent;
}
.md_course_desc .course_desc_body .course_all_student::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 20px;
  border: transparent;
}
/*view all students button*/
#viewst {
  display: none;
}

.full_screen_video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000bd;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full_screen_video .video_player {
  position: relative;
  width: 90%;
  height: 90%;
}
/*Youtube Player Overlay*/
.full_screen_video .video_player .player_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px;
}
.full_screen_video .video_player .player_overlay .volume {
  display: flex;
  align-items: center;
  visibility: hidden;
}
.full_screen_video .video_player .player_overlay .volume .icon {
  margin-right: 5px;
  width: 30px;
}
.full_screen_video .video_player .player_overlay .volume .icon i {
  font-size: 20px;
  color: #eee;
}
.full_screen_video .video_player .player_overlay .volume .seekslider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.full_screen_video
  .video_player
  .player_overlay
  .volume
  .seekslider
  input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  -webkit-transition: 0.2s;
}
.full_screen_video
  .video_player
  .player_overlay
  .volume
  .seekslider
  input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  cursor: pointer;
}
.full_screen_video .video_player .player_overlay .playPush {
  width: 20px;
  margin-right: 5px;
  visibility: hidden;
}
.full_screen_video .video_player .player_overlay .playPush .icon i {
  color: #eee;
}
.full_screen_video .video_player .player_overlay:hover .playPush {
  visibility: visible;
}
.full_screen_video .video_player .player_overlay:hover .volume {
  visibility: visible;
}
