.models {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}
.models .md_all_models {
  flex: 0.7;
  margin-right: 10px;
}
.models .md_all_models .models_en_nav {
  width: 100%;
  padding: 10px;
}
.models .md_all_models .models_en_nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.models .md_all_models .models_en_nav ul li {
  font-size: 14px;
  margin: 5px;
  text-align: center;
  padding: 8px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  background-image: linear-gradient(to left, #01b594, #03c282, #04c574);
  border: 1px solid #00bf4d;
  color: #fff;
  transition: 0.2s ease;
}
.models .md_all_models .models_en_nav ul a {
  color: #fff;
  text-decoration: none;
}
.models .md_all_models .models_en_nav ul li:hover {
  background-image: linear-gradient(to left, #02a88a, #02b177, #03b66b);
}
.models .md_all_models .models_en_nav ul li i {
  font-size: 12px;
  margin-right: 10px;
  color: #fff;
}
.models .md_all_models .md_models {
  width: 100%;
}
.models .md_all_models .md_models .cr_models {
  width: 100%;
  margin: 25px 0;
}
.models .md_all_models .md_models .cr_models button {
  padding: 8px;
  width: 150px;
  border: 1px solid #00bf4d;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  outline: none;
  transition: 0.3s;
}
.models .md_all_models .md_models .cr_models button i {
  margin-right: 5px;
}
.models .md_all_models .md_models .cr_models button:hover {
  background-color: #00bf4d;
  color: #fff;
}
.models .md_all_models .md_models .al_models {
  width: 100%;
}
.models .md_all_models .md_models .al_models .al_on_model {
  margin-bottom: 15px;
  background-color: #fff;
}
.models .md_all_models .md_models .al_models .on_model_head {
  width: 100%;
  padding: 15px 20px 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
}
.models .md_all_models .md_models .al_models .on_model_head h1 {
  font-size: 17px;
  font-weight: 500;
  color: #008074;
}
.models .md_all_models .md_models .al_models .on_model_head .heads_buts button {
  background: none;
  border: none;
  margin: 0 5px;
  width: 25px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
}
.models .md_all_models .md_models .al_models .empy {
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.models
  .md_all_models
  .md_models
  .al_models
  .on_model_head
  .heads_buts
  button:nth-child(1)
  i {
  color: #05b17d;
  font-size: 16px;
}
.models
  .md_all_models
  .md_models
  .al_models
  .on_model_head
  .heads_buts
  button:nth-child(2)
  i {
  color: #cf2418;
  font-size: 16px;
}
.models .md_all_models .md_models .al_models .on_model_body {
  width: 100%;
  padding: 10px;
}
.models .md_all_models .md_models .al_models .on_model_body .model_body_row {
  padding: 9px 8px;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}
.models
  .md_all_models
  .md_models
  .al_models
  .on_model_body
  .model_body_row
  .re_player {
  position: relative;
  padding: 23%;
  margin: 10px 5px 20px;
}
.models
  .md_all_models
  .md_models
  .al_models
  .on_model_body
  .model_body_row
  .re_player
  .player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.models
  .md_all_models
  .md_models
  .al_models
  .on_model_body
  .model_body_row:first-child:hover {
  background-color: transparent;
}
.models
  .md_all_models
  .md_models
  .al_models
  .on_model_body
  .model_body_row:hover {
  background-color: #f1fff1c9;
}
.models .md_all_models .md_models .al_models .on_model_body .model_body_row p {
  font-size: 15px;
  color: #717171;
  font-weight: 400;
}
.models
  .md_all_models
  .md_models
  .al_models
  .on_model_body
  .model_body_row
  p
  i {
  margin-right: 10px;
  font-size: 23px;
}
.models
  .md_all_models
  .md_models
  .al_models
  .on_model_body
  .model_body_row
  p
  a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 13px;
}

.models .md_course_desc {
  flex: 0.3;
  height: 85vh;
  position: sticky;
  top: 90px;
  bottom: 0;
  overflow-y: hidden;
  background-color: #fff;
}
.models .md_course_desc .colCourseView {
  height: 100%;
}
.models .md_course_desc .course_desc_head {
  position: relative;
  width: 100%;
}
.models .md_course_desc .course_desc_head .course_pic {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, #008074, #000);
}
.models .md_course_desc .course_desc_head .course_pic .cos_options {
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 0;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
}
.models .md_course_desc .course_desc_head .course_pic .cos_options button {
  padding: 8px 5px;
  width: 120px;
  background-color: #00bf4d;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.models
  .md_course_desc
  .course_desc_head
  .course_pic
  .cos_options
  button:nth-child(2) {
  background-color: #cf2418;
}
.models .md_course_desc .course_desc_head .course_pic .cos_options button i {
  margin-right: 5px;
  color: #fff;
}
.models
  .md_course_desc
  .course_desc_head
  .course_pic
  .cos_options
  button:hover {
  background-color: #02af48;
}
.models
  .md_course_desc
  .course_desc_head
  .course_pic
  .cos_options
  button:nth-child(2):hover {
  background-color: #be1e12;
}
.models .md_course_desc img {
  width: 100%;
  height: 100%;
  opacity: 0.75;
}
.models .md_course_desc .course_desc_head h2 {
  font-size: 18px;
  font-weight: 500;
  color: #00bf4d;
  margin-bottom: 8px;
  margin-left: 5px;
}
.models .md_course_desc .course_desc_head h3 {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 400;
  text-transform: capitalize;
  margin-left: 5px;
}
.models .md_course_desc .course_desc_body {
  padding: 5px;
}
.models .md_course_desc .course_desc_body .course_short_desc {
  height: 15vh;
  overflow-y: auto;
  margin-bottom: 10px;
}
.models
  .md_course_desc
  .course_desc_body
  .course_short_desc::-webkit-scrollbar {
  width: 5px;
}
.models
  .md_course_desc
  .course_desc_body
  .course_short_desc::-webkit-scrollbar-track {
  background: transparent;
}
.models
  .md_course_desc
  .course_desc_body
  .course_short_desc::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 20px;
  border: transparent;
}
.models .md_course_desc .course_desc_body .course_short_desc h3 {
  font-size: 15px;
  color: #00bf4d;
  margin-bottom: 8px;
  font-weight: 500;
}
.models .md_course_desc .course_desc_body .course_short_desc p {
  font-size: 13px;
  text-align: justify;
  color: #808080;
}
.models .md_course_desc .course_desc_body .course_all_student {
  height: 30vh;
  overflow-y: auto;
}
.models .md_course_desc .course_desc_body .course_all_student h3 {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 500;
  color: #00bf4d;
}
.models
  .md_course_desc
  .course_desc_body
  .course_all_student
  .all_course_student
  .student_row {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.models
  .md_course_desc
  .course_desc_body
  .course_all_student
  .all_course_student
  .student_row
  img {
  height: 100%;
  opacity: 1;
}
.models
  .md_course_desc
  .course_desc_body
  .course_all_student
  .all_course_student
  .student_row
  .student_col {
  height: 60px;
  width: 60px;
  margin-right: 5px;
  border-radius: 50%;
  overflow: hidden;
}
.md_course_desc
  .course_desc_body
  .course_all_student
  .all_course_student
  .student_row
  .student_col_des {
  flex: 0.7;
}
.md_course_desc
  .course_desc_body
  .course_all_student
  .all_course_student
  .student_row
  .student_col_des
  h3 {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
.md_course_desc
  .course_desc_body
  .course_all_student
  .all_course_student
  .student_row:hover {
  background-color: #f5f5f5;
  color: #00bf4d;
}
.md_course_desc .course_desc_body {
  scrollbar-width: thin;
  scrollbar-color: #afafaf;
}
.md_course_desc .course_desc_body .course_all_student::-webkit-scrollbar {
  width: 5px;
}
.md_course_desc .course_desc_body .course_all_student::-webkit-scrollbar-track {
  background: transparent;
}
.md_course_desc .course_desc_body .course_all_student::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 20px;
  border: transparent;
}
