.outer_user_form {
  background-color: #000000cc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer_user_form .form_bg {
  position: relative;
  max-width: 600px;
  background-color: #262626;
  padding: 35px 35px;
  border-radius: 10px;
  color: #fff;
}
.outer_user_form .form_bg .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.outer_user_form .form_bg .close button {
  width: auto;
  height: auto;
  padding: 0;
  text-align: right;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.outer_user_form .form_bg .close button i {
  font-size: 18px;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  animation: initial;
  color: red;
}
.outer_user_form .form_bg h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}
.outer_user_form .form_bg h3 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
}
.outer_user_form .form_bg form {
  width: 100%;
}
.outer_user_form .form_bg form .sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 20px;
}
.outer_user_form .form_bg form p {
  position: relative;
  width: 100%;
  margin-right: 0 !important;
}
.outer_user_form .form_bg form p label {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
}
.outer_user_form .form_bg form .sect.sect2 {
  align-items: flex-end;
}
.outer_user_form .form_bg form .small {
  font-size: 9px;
  margin-bottom: 5px;
  color: #eee;
}
.outer_user_form .form_bg form p input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #000;
  color: #eee;
  border: 1px solid #000;
}
.outer_user_form .form_bg form .text h5 {
  font-size: 12px;
  color: red;
}
.outer_user_form .form_bg form .text {
  font-size: 12px;
}
.outer_user_form .form_bg form .but {
  width: 100%;
  padding-top: 10px;
}
.outer_user_form .form_bg form .but button {
  width: 150px;
  background-color: var(--buttonColor1);
  padding: 8px;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
}
.outer_user_form .form_bg form .showpw p {
  display: flex;
  padding: 15px 0;
}
.outer_user_form .form_bg form .showpw p input {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
}
.outer_user_form .form_bg form p .tip {
  font-size: 11px;
  position: absolute;
  bottom: -13px;
  right: 0;
  padding: 5px 8px;
  background-color: #fb01010d;
  color: red;
  border-radius: 2px;
  z-index: 100;
  transition: opacity 0.9s;
  text-transform: capitalize;
}
.outer_user_form .form_bg form p .hidetip {
  opacity: 0;
  user-select: none;
}
.outer_user_form .conformmodel_outer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  background: #0000005c;
  z-index: 101;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer_user_form .conformmodel_outer .conformmodel {
  max-width: 600px;
  background-color: #262626;
  padding: 25px;
  border-radius: 5px;
}
.outer_user_form .conformmodel_outer .conformmodel h3 {
  font-size: 14px;
  margin-bottom: 25px;
  font-weight: 500;
}
.outer_user_form .conformmodel_outer .conformmodel .but {
  width: 100%;
}
.outer_user_form .conformmodel_outer .conformmodel .but button {
  width: 120px;
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
  background-color: var(--buttonColor1);
  border: 1px solid transparent;
  color: #fff;
}
.outer_user_form .conformmodel_outer .conformmodel .but button:nth-child(2) {
  background-color: var(--buttonColorHover1);
}

@media screen and (max-width: 650px) {
  .outer_user_form .form_bg {
    max-width: initial;
    width: 95%;
  }
  .outer_user_form .form_bg form {
    overflow-y: auto;
    max-height: 45vh;
  }
  .outer_user_form .form_bg form .sect {
    flex-wrap: wrap;
    grid-gap: 5px;
  }
  .outer_user_form .form_bg form::-webkit-scrollbar {
    width: 5px;
  }
  .outer_user_form .form_bg form::-webkit-scrollbar-track {
    background: transparent;
  }
  .outer_user_form .form_bg form::-webkit-scrollbar-thumb {
    background-color: #afafaf;
    border-radius: 20px;
    border: transparent;
  }
  .outer_user_form {
    z-index: 11;
  }
  .outer_user_form .conformmodel_outer .conformmodel {
    max-width: initial;
    width: 95%;
  }
}
@media screen and (max-width: 300px) {
  .outer_user_form .conformmodel_outer .conformmodel .but {
    text-align: center;
  }
  .outer_user_form .conformmodel_outer .conformmodel .but button {
    margin-bottom: 10px;
  }
}
