.modelbg {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000007d;
  z-index: 2000;
}
.modelbg .modelcard {
  width: 450px;
  max-height: 80vh;
  background-color: #fff;
  overflow: hidden;
  border-radius: 5px;
  padding: 12px;
}
.modelbg .modelcard .clsst {
  width: 100%;
  text-align: right;
  position: relative;
}
.modelbg .modelcard .clsst button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  outline: none;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.modelbg .modelcard .clsst button i {
  font-size: 20px;
}
.modelbg .modelcard .pageHead {
  width: 100%;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modelbg .modelcard .pageHead .propicst {
  width: 100px;
  height: 100px;
  padding: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 12px 7px #d3d3d3;
}
.modelbg .modelcard .pageHead .propicst img {
  width: 100%;
  height: 100%;
}
.modelbg .modelcard .pagebottom {
  width: 100%;
  font-family: "Monsterrat", sans-serif;
  text-align: center;
  font-weight: lighter;
  padding: 10px;
}
.modelbg .modelcard .pagebottom h1 {
  font-size: 18px;
  margin-bottom: 8px;
  color: var(--h1Fontcolor);
}
.modelbg .modelcard .pagebottom h2 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}
.modelbg .modelcard .pagebottom h3 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}
.modelbg .modelcard .pagebottom h4 {
  font-size: 13px;
  margin-bottom: 8px;
}
.modelbg .modelcard .pagebottom p {
  font-size: 13px;
  line-height: 16px;
  margin-top: 15px;
  text-align: justify;
}
.modelbg .modelcard .pagebottom .dis {
  max-height: 25vh;
  overflow: auto;
  color: #828282;
}
.modelbg .modelcard .pagebottom .dis::-webkit-scrollbar {
  width: 5px;
}
.modelbg .modelcard .pagebottom .dis::-webkit-scrollbar-track {
  background: transparent;
}
.modelbg .modelcard .pagebottom .dis::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 20px;
  border: transparent;
}
@media screen and (max-width: 400px) {
  .modelbg .modelcard {
    width: 80%;
  }
  .modelbg .modelcard .pagebottom h1 {
    word-wrap: break-word;
  }
  .modelbg .modelcard .pagebottom h2 {
    word-wrap: break-word;
  }
  .modelbg .modelcard .pagebottom h3 {
    word-wrap: break-word;
  }
  .modelbg .modelcard .pagebottom h4 {
    word-wrap: break-word;
  }
  .modelbg .modelcard .pagebottom p {
    word-wrap: break-word;
  }
}
