.stlist {
  width: 100%;
}
.pageTop {
  width: 100%;
  padding: 25px 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  font-family: "Open Sans", sans-seri;
  color: #fff;
}
.pageTop h1 {
  font-size: 24px;
}
.search_st {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_st button {
  width: 140px;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid var(--buttonColor1);
  background-color: #000;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
}
.search_st button i {
  margin-right: 8px;
  color: var(--buttonColor1);
}
.search_st button:hover {
  background-color: var(--buttonColor1);
  color: #fff;
}
.search_st button:hover i {
  color: #fff;
}
.search_st .search input {
  padding: 8px;
  width: 300px;
  border-right-color: transparent;
  border: 1px solid transparent;
  box-shadow: 0px 0px 18px #dbdbdb;
  outline: none;
}
.search_st .search button {
  width: 50px;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left-color: transparent;
  border: 1px solid transparent;
  box-shadow: 0px 0px 18px #dbdbdb;
}
.sttable {
  width: 100%;
  padding-top: 18px;
}
.sttable h2 {
  text-align: right;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #28a745;
}
.sttable table {
  width: 100%;
  background-color: #262626;
  border-collapse: collapse;
  border: 2px solid #262626;
}
.sttable table th {
  background-color: #464646;
}
.sttable table tr a {
  text-decoration: none;
  color: #000;
}
.sttable table tr {
  border-bottom: 1px solid #6f6f6f4f;
}
.sttable table th,
td {
  padding: 15px 5px;
  text-align: center;
  border-bottom: none;
}
.sttable table th:nth-child(1),
.sttable table td:nth-child(1) {
  display: none;
}
.sttable table td {
  padding: 7px 5px 5px 5px;
  color: #fff;
}

.sttable table td img {
  width: 45px;
  height: 45px;
  vertical-align: bottom;
}
.sttable table td button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
.sttable table td button i {
  font-size: 18px;
  color: red;
}
.sttable table td img {
  border-radius: 50%;
  border: 1px solid #ff9d00;
}

/*load more button*/
.sttable .butnext {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sttable .butnext button {
  width: 150px;
  padding: 10px;
  border: 1px solid #ff9d00;
  border-radius: 3px;
  background-color: #000;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  color: #ff9d00;
  transition: background-color 0.5s ease;
}
.sttable .butnext button:hover {
  background-color: #ff9d00;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .sttable table th:nth-child(1),
  td:nth-child(1) {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .sttable table th:nth-child(3),
  td:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .search_st {
    flex-wrap: wrap;
    justify-content: center;
  }
  .search_st input {
    margin-top: 15px;
  }
  .sttable {
    overflow-x: auto;
  }
}
@media screen and (max-width: 500px) {
  .sttable table th:nth-child(5),
  td:nth-child(5) {
    display: none;
  }
  .search_st .search input {
    width: 200px;
  }
}
@media screen and (max-width: 250px) {
  .search_st .search input {
    width: 150px;
  }
}
