.filter_section {
  width: 100%;
  display: flex;
  grid-gap: 15px;
  flex-wrap: wrap;
}
.filter_section .filter_column {
  flex: 1;
  color: #fff;
  padding: 10px 15px;
  background-color: #262626;
  border-radius: 8px;
}
.filter_section .filter_column h2 {
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 600;
}
.filter_section .filter_column .custom_select_box {
  width: 100%;
  position: relative;
}
.filter_section .filter_column .custom_select_box .outer_select_box {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #000;
}
.filter_section
  .filter_column
  .custom_select_box
  .outer_select_box
  .img_section {
  width: 40px;
  height: 42px;
}
.filter_section
  .filter_column
  .custom_select_box
  .outer_select_box
  .img_section
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.filter_section .filter_column .custom_select_box .outer_select_box input {
  flex: 1;
  padding: 12px 8px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid transparent;
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  outline: none;
}
.filter_section .filter_column .custom_select_box .outer_select_box .chevrons {
  flex-basis: 40px;
  height: 43px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.filter_section
  .filter_column
  .custom_select_box
  .outer_select_box
  .chevrons
  i {
  font-size: 30px;
  height: 40px;
}
.filter_section .filter_column .custom_select_box ul {
  list-style: none;
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  padding: 5px 0;
  position: absolute;
  z-index: 10;
}
.filter_section .filter_column .custom_select_box ul::-webkit-scrollbar {
  width: 8px;
  background-color: #383838;
}
.filter_section .filter_column .custom_select_box ul::-webkit-scrollbar-track {
  background: transparent;
}
.filter_section .filter_column .custom_select_box ul::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border: transparent;
}
.filter_section .filter_column .custom_select_box ul li {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  background-color: #383838;
  border-bottom: 1px solid #444444;
  cursor: pointer;
  color: #fff;
}
.filter_section .filter_column .custom_select_box ul li:hover {
  background-color: #4e4e4e;
}
.filter_section .filter_column .custom_select_box ul li img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  user-select: none;
}
.filter_section .filter_column .custom_select_box ul li span {
  user-select: none;
  pointer-events: none;
}

/*Second column*/
.filter_section .filter_column form {
  width: 100%;
}
.filter_section .filter_column form p {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  grid-column-gap: 15px;
}
.filter_section .filter_column form input[type="checkbox"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #000;
  cursor: pointer;
  border-radius: 3px;
}
.filter_section .filter_column form input[type="checkbox"]:checked {
  background-color: var(--h1Fontcolor);
}
.filter_section .filter_column form p label {
  font-size: 15px;
  margin-bottom: 0;
  font-weight: 600;
}
