.event_header {
  width: 100%;
  background-color: #000;
}
.event_header .event_row {
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: stretch;
  background-color: #262626;
  grid-column-gap: 20px;
  border-radius: 8px;
}
.event_header .event_row .event_column:nth-child(1) {
  width: 150px;
  min-height: 95px;
  background-color: #000;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.event_header .event_row .event_column:nth-child(1) a {
  text-decoration: none;
}
.event_header .event_row .event_column:nth-child(1) h2 {
  font-size: 15px;
  text-align: center;
  color: #fff;
}
.event_header .event_row .event_column:nth-child(1) h3.label {
  background-color: var(--h1Fontcolor);
  font-size: 13px;
  margin-top: 5px;
  padding: 3px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
}
.event_header .event_row .event_column:nth-child(2) {
  flex-grow: 1;
}
.event_header .event_row .event_column:nth-child(2) .event_dis_col {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.event_header .event_row .event_column:nth-child(2) a {
  text-decoration: none;
  color: #000;
}
.event_header .event_row .event_column:nth-child(2) h1 {
  font-size: 14px;
  color: #fff;
}
.event_header .event_row .event_column:nth-child(2) h2 {
  font-size: 15px;
}
.event_header .event_row .event_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: 6px;
}
.event_header .event_row .event_column .rw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 10px;
}
.event_header .event_row .event_column .rw p {
  font-size: 14px;
}
.event_header .event_row .event_column .rw p.minp {
  color: #c5c5c5;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  width: 110px;
}
.event_header .event_row .event_column p {
  color: #c5c5c5;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}
.event_header .event_row .event_column button {
  width: 110px;
  padding: 8px;
  border: 1px solid transparent;
  background-color: var(--h1Fontcolor);
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
  font-size: 13px;
  outline: none;
  cursor: pointer;
}
.event_header .event_row .event_column.tcside button {
  width: 130px;
}
.event_details {
  padding: 45px 0;
  width: 100%;
}
.event_details h2 {
  font-size: 16px;
  color: #fff;
}
.event_details .event_description {
  background-color: #262626;
  margin-top: 15px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-column-gap: 25px;
}
.event_details .event_description .event_pic_col {
  flex-basis: 450px;
}
.event_details .event_description .event_pic_col .event_pic_sec {
  width: 100%;
}
.event_details .event_description .event_pic_col .event_pic_sec img {
  width: 100%;
}
.event_details .event_description .event_dis_col {
  flex-grow: 1;
}
.event_details .event_description .event_dis_col .event_dis_section {
  width: 100%;
}
.event_details
  .event_description
  .event_dis_col
  .event_dis_section
  .event_dis_row {
  display: flex;
  grid-column-gap: 12px;
  margin-bottom: 12px;
  flex-wrap: wrap;
}
.event_details
  .event_description
  .event_dis_col
  .event_dis_section
  .event_dis_row
  h2 {
  flex: 0.3;
  color: #fff;
  font-size: 14px;
}
.event_details
  .event_description
  .event_dis_col
  .event_dis_section
  .event_dis_row
  span {
  text-transform: capitalize;
}
.event_details
  .event_description
  .event_dis_col
  .event_dis_section
  .event_dis_row
  h2:nth-child(2) {
  flex: 0.7;
  color: #c5c5c5;
}

@media screen and (max-width: 950px) {
  .event_details .event_description {
    display: block;
  }
  .event_details .event_description .event_pic_col {
    max-width: 350px;
    margin: 10px auto;
  }
}
@media screen and (max-width: 900px) {
  .event_header .event_row {
    flex-direction: column;
    grid-row-gap: 25px;
  }
  .event_header .event_row .event_column:nth-child(1) {
    width: 100%;
  }
  .event_header .event_row .event_column:nth-child(2) {
    width: 100%;
  }
  .event_header .event_row .event_column:nth-child(3) {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .event_header .event_row .event_column .rw {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 356px) {
  .filter_section {
    flex-direction: column;
  }
  .filter_section
    .filter_column
    .custom_select_box
    .outer_select_box
    .img_section {
    display: none;
  }
  .filter_section .filter_column .custom_select_box .outer_select_box input {
    width: 100%;
  }
}
